{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c3.css' %}">
</head>
<body id="q">
    <center>
        <h1 id="f"><span id="s1">WELCOME</span> <span id="s2">TO</span> <span id="s3">DIGITAL</span> <span id="s4">WORLD</span></h1>
    </center>
    <h1 id="g">The notion of the digital world comprises the entirety of all individual phenomena that can be described by the concept of digital signals – including all their aspects of information processing and of graphical information interpretation into virtual worlds-or that can be influenced or transformed through the means of digital signals.</h1>
    <img src="{% static 'images/digital.jpg' %}" alt=""id="o">
    <a href="{% url 'nature_beauty' %}" id="k"> navigate to nature</a>
</body>
</html>