{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body id="n">
    <center>
        <h1 id="e"><span id="s1">WELCOME</span> <span id="s2">TO</span> <span id="s3">EMOJI</span> <span id="s4">WORLD</span></h1>
    </center>
    <h1 id="b">Girl: Hello, what are you doing ? Boy: Shaving. Girl: Whenever I call, you always shave. How many times do you shave in a day? Boy: 30 to 40 times. Girl: Are you crazy? Boy: No I’m a barber!</h1>
    <img src="{% static 'images/emoji1.jpg' %}" alt=""id="a">
    <a href="{% url 'digital_world' %}" id="A"> navigate to digital</a>
</body>
</html>