{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c4.css' %}">
</head>
<body id="q">
    <center>
        <h1 id="f"><span id="s1">NATURE</span> <span id="s2">IS</span> <span id="s3">GOD'S</span> <span id="s4">GIFT</span></h1>
    </center>
    <center>
        <h1 id="g">Butterflies fluttering, Kids laughing and gawking,Bugs flying, 
            Families grilling, 
            Couples holding hands, 
            This is relaxation, 
            This is nature💓
            </h1>
    </center>
    <h1 id="g"></h1>
    <a href="{% url 'india_flag' %}" id="k"> navigate to flag</a>
</body>
</html>